.travel-advisory {
  text-align: center;
  background-color: rgb(18, 72, 122);
  padding: 5px;
  border-radius: 10px;
  margin: 2px 0px;
}

.advisory {
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
}
